<div>
  <p>User Profile for {{user.name}}</p>
  <p>Joined: {{user.createdAt}}</p>
  <a href="#!/topics">Return to Topics Main</a>
  <a href="#!/topics">Return to Topics Main</a>
  <a href="/logout"><button type="button" name="button">logout</button></a>
  <div id="topicDisplay" style="overflow-y: scroll">
    <h2>Posted Topics</h2>
    <table>
      <thead>
        <th style="text-align: left;width: 220px;background-color: black;color:white;border:none; margin:0px;">Topic</th>
        <th style="text-align: left;width: 220px;background-color: black;color:white;border:none; margin:0px;">Start Date</th>
      </thead>
      <tr ng-repeat="topic in user._topics | orderBy: '-createdAt'">
        <td><a href="#!/topic/{{topic._id}}">{{user._topics.topic.topic}}</a></td>
        <td>{{user._topics.topic.createdAt}}</td>
      </tr>
    </table>
  </div>
  <div id="topicResponseDisplay" style="overflow-y: scroll">
    <h2>Posted Messages</h2>
    <table>
      <thead>
        <th style="text-align: left;width: 220px;background-color: black;color:white;border:none; margin:0px;">Response</th>
        <th style="text-align: left;width: 220px;background-color: black;color:white;border:none; margin:0px;">Post Date</th>
      </thead>
      <tr ng-repeat="message in user._messages | orderBy: '-createdAt'">
        <td><a href="#!/topic/{{message.topic._id}}">{{user._messages.message.message}}</a></td>
        <td>{{user._messages.message.createdAt}}</td>
      </tr>
    </table>
  </div>
  <div id="responseCommentDisplay" style="overflow-y: scroll">
    <h2>Posted Comments</h2>
    <table>
      <thead>
        <th style="text-align: left;width: 220px;background-color: black;color:white;border:none; margin:0px;">Comment</th>
        <th style="text-align: left;width: 220px;background-color: black;color:white;border:none; margin:0px;">Post Date</th>
      </thead>
      <tr ng-repeat="comment in user._comments | orderBy: '-createdAt'">
        <td><a href="#!/topic/{{comment._message._topic._id}}">{{user._comments.comment.comment}}</a></td>
        <td>{{user._comments.comment.createdAt}}</td>
      </tr>
    </table>
  </div>
</div>
