<div>
  <p>User Profile for {{user.name}}</p>
  <p>Joined: {{user.createdAt}}</p>
  <a href="#!/topics">Return to Topics Main</a>
  <a href="#!/">General Dashboard</a>
  <div id="topicDisplay" style="overflow-y: scroll">
    <h2>Posted Topics</h2>
    <table>
      <thead>
        <th>Topic</th>
        <th>Start Date</th>
      </thead>
      <tr ng-repeat="topic in user._topics | limitTo: 20 |orderBy: '-createdAt'">
        <td><a href="#!/topic/{{topic._id}}">{{topic.topic}}</a></td>
        <td>{{topic.createdAt}}</td>
      </tr>
    </table>
  </div>
  <div id="topicResponseDisplay">
    <h2>Posted Messages</h2>
    <table>
      <thead>
        <th>Response</th>
        <th>Post Date</th>
      </thead>
      <tr ng-repeat="message in user._messages | orderBy: '-createdAt'">
        <td><a href="#!/topic/{{message._topic}}">{{message.message}}</a></td>
        <td>{{message.createdAt}}</td>
      </tr>
    </table>
  </div>
  <div id="responseCommentDisplay">
    <h2>Posted Comments</h2>
    <table>
      <thead>
        <th>Comment</th>
        <th>Post Date</th>
      </thead>
      <tr ng-repeat="comment in user._comments | orderBy: '-createdAt'">
        <td><a href="#!/topic/{{comment._message._topic}}">{{comment.comment}}</a></td>
        <td>{{comment.createdAt}}{{comment._message}}</td>

      </tr>
    </table>
  </div>
</div>
